.liste-besoins {
    &__title {
        font-size: 35px;
        padding-left: 5%;
        padding-top: 25px;
    }

    &__header {
        margin-top: 50px;
        width: 90%;
        margin-left: 5%;
        height: 45px;
        display: flex;
        font-size: 17px;
        color: rgb(89, 89, 89);

        &--title {
            width: 20%;
            padding-top: 6px;
            text-align: center;
        }
    }

    &__content {
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;

        &--infos {
            height: 85px;
            display: flex;
            background-color: white;
            margin-top: 25px;
            box-shadow: 7px 7px 11px 0px #f2f2f2eb;
            transition: 0.3s ease-in-out;

            &__element {
                width: 20%;
                padding-top: 25px;
                text-align: center;
            }
        }

        &--infos:hover {
            transform: scale(1.05);
        }
    }
}

.fiche-besoin {
    &__title {
        font-size: 35px;
        padding-left: 5%;
        padding-top: 25px;
    }
}

.details-besoin {
    width: 90%;
    margin-left: 5%;
    background-color: white;
    box-shadow: 7px 7px 11px 0px #f2f2f2eb;

    &__infos {
        height: 100px;
        display: flex;
        border-bottom: 2px solid rgb(242, 242, 242);

        &__element {
            padding-top: 45px;
            width: 30%;
            text-align: center;
        }
    }

    &__articles {
        margin-top: 55px;

        &--header {
            height: 50px;
            text-align: center;
            padding-top: 20px;
            display: flex;
            border-bottom: 2px solid rgb(242, 242, 242);

            &__element {
                width: 30%;
            }
        }

        &--content {
            display: flex;
            text-align: center;
            height: 75px;
            border-bottom: 2px solid rgb(242, 242, 242);
            transition: 0.2s ease-in-out;

            &__element {
                width: 30%;
                padding-top: 20px;
            }
        }
        &--content:hover {
            background-color: rgb(245, 245, 245);
        }
    }

    &__buttons {
        height: 75px;
        margin-top: 25px;
        display: flex;
        text-align: center;

        &__element {
            width: 50%;

            &--button {
                width: 250px;
                height: 45px;
            }
        }
    }
}

.ajout-besoin {
    &__title {
        font-size: 35px;
        padding-left: 5%;
        padding-top: 25px;
    }

    &__form {
        width: 65%;
        margin-left: 5%;
        background-color: white;
        box-shadow: 7px 7px 11px 0px #f2f2f2eb;

        &__title {
            width: 65%;
            height: 75px;
            margin-left: 5%;
            color: rgb(68, 68, 68);
        }

        &--element {
            padding-top: 50px;
        }

        &__content {
            width: 65%;
            height: 350px;
            margin-left: 5%;
            margin-top: 50px;

            &--input {
                height: 150px;

                &__one {
                    display: flex;
                }

                &__date {
                    width: 47%;
                    margin-top: 25px;



                    &--limit {
                        width: 42%;
                        padding-left: 5%;
                    }
                }

                &__select {
                    margin-top: 50px;

                    &--input {
                        width: 82%;
                    }
                }

                &__submit {
                    display: flex;
                    text-align: center;
                    margin-top: 50px;
                    height: 65px;
                    width: 82%;

                    &__element {
                        width: 50%;
                        padding-top: 15px;
                    }

                    &--button {
                        width: 175px;
                    }
                }
            }
        }
    }
}

.articles_besoin {
    &__title {
        font-size: 35px;
        padding-left: 5%;
        padding-top: 25px;
    }

    &__form {
        width: 65%;
        margin-left: 5%;
        /*background-color: white;
        box-shadow: 7px 7px 11px 0px #f2f2f2eb;*/

        &--input {
            margin-top: 25px;
        }
    }

    &__submit {
        margin-left: 37%;
        margin-top: 45px;
        height: 45px;
        width: 250px;

        &--button {
            height: inherit;
            width: inherit;
        }
    }
}

.besoins_global {
    &__title {
        font-size: 35px;
        padding-left: 5%;
        padding-top: 25px;
    }

    &__header {
        margin-top: 50px;
        margin-left: 5%;
        height: 45px;
        display: flex;

        &__element {
            width: 20%;
            text-align: center;
        }
    }

    &__content {
        display: flex;
        margin-left: 5%;
        margin-top: 25px;

        &--element {
            width: 20%;
            height: 70px;
            background-color: white;
            box-shadow: 7px 7px 11px 0px #f2f2f2eb;
            text-align: center;
            padding-top: 35px;
        }
    }
}

