.def-besoin {
    margin-top: -35%;

    &__title {
        color: rgb(14, 14, 14);
        font-weight: lighter;
        margin-top: -15%;
        font-size: 35px;
    }

    &__form {
        margin-top: 25px;

        &--input {
            &__two {
                margin-top: 25px;
            }

            &__input {
                width: 350px;
            }
        }

        &--articles {
            margin-top: 25px;
        }

        &--submit-besoin {
            margin-top: 25px;

            &__button {
                height: 50px;
                width: 200px;
            }
        }
    }
}

#date_input {
    margin-left: 25px;
}

.def-articles {
    &__title {
        color: rgb(29, 29, 29);
        font-size: 35px;
    }

    &__articles {
        margin-top: 35px;
        width: 500px;
        margin-left: 15%;

        &--items {
            margin-top: 25px;
        }
    }

    &__submit {
        margin-top: 25px;
        margin-left: 25px;

        &--button {
            margin-top: 25px;
            width: 200px;
            margin-left: 35px;
            height: 45px;
        }
    }
}

.liste-besoins, .fiche-besoin {
    &__title {
        color: black;
        font-size: 35px;
    }

    &__table {
        margin-top: 45px;
    }
}

