.bon_reception {
    &__title {
        font-size: 35px;
        padding-left: 5%;
        padding-top: 25px;
    }

    &__form {
        width: 60%;
        margin-top: 25px;
        margin-left: 5%;

        &--element {
            width: 75%;

            &--date {
                width: 65%;
            }

            &__one {
                display: flex;
                margin-top: 45px;
                justify-content: space-evenly;
                width: 75%;

                &__input {
                    width: 50%;

                    &--select {
                        width: 85%;
                    }
                }
            }
        }
    }

    &__submit {
        margin-top: 50px;
        margin-left: 35%;
        display: flex;
        
        &--button {
            width: 250px;
            height: 45px;
        }
    }
}

.article_bon_reception {
    &__element {
        display: flex;
        margin-top: 25px;

        &--input {
            width: 30%;
            height: 50px;
        }
    }
    &__submit {
        margin-top: 50px;
        margin-left: 39%;
        display: flex;
        
        &--button {
            width: 250px;
            height: 45px;
        }
    }
}

.liste_bon_reception {
    &__title {
        font-size: 35px;
        padding-left: 5%;
        padding-top: 25px;
    }

    &__header {
        margin-top: 50px;
        margin-left: 5%;
        height: 45px;
        display: flex;

        &--element {
            width: 15%;
            padding-top: 6px;
            text-align: center;
        }
    }

    &__content {
        display: flex;
        margin-left: 5%;
        margin-top: 35px;
        transition: 0.5s ease-in-out;
        height: 85px;

        &--element {
            width: 15%;
            background-color: white;
            box-shadow: 7px 7px 11px 0px #f2f2f2eb;
            text-align: center;
            padding-top: 25px;
        }
    }

    &__content:hover {
        transform: scale(1.05);
    }
}