.header {
    height: 100px;
    background-color: rgb(19, 19, 96);
    color: rgb(240, 240, 240);
    box-shadow: 7px 7px 11px 0px #f2f2f2;

    a {
        color: rgb(240, 240, 240);
        text-decoration: none;
    }
}

.navigation {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 35px;

    &__element {
        padding-left: 15px;
        padding-right: 25px;
    }
}

.footer {
    height: 75px;
}