@import "./variable.scss";

.login {
    //border: 1px solid lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 485px;
    display: inline-grid;
    align-content: space-evenly;
    justify-content: center;
    gap: 0px;
    box-shadow: 5px 5px 12px 0px #ececec;
    background-color: rgb(249, 249, 249);

    &__title {
        text-align: center;
        font-size: 35px;
    }

    &__input {
        width: 275px;
        margin-bottom: 10px;
    }

    &__submit {
        height: 50px;
        background-color: darkcyan;
    }
}