.saisie_proforma {

    &__title {
        font-size: 35px;
        padding-left: 5%;
        padding-top: 25px;
    }

    &__form {
        display: flex;
        margin-left: 5%;

        &__element {
            width: 25%;

            &--select {
                width: 95%;
            }

            &--date {
                width: 100%;
            }
        }
    }

    &__content {
        display: flex;
        margin-left: 5%;
        margin-top: 50px;

        &__element {
            width: 25%;

            &--select {
                width: 95%;
            }

            &--input {
                width: 95%;
            }

            &--button {
                height: 55px;
            }
        }
    }

    &__data {
        display: flex;
        margin-left: 5%;
        margin-top: 50px;
        height: 75px;
        border: 1px solid lightgray;
        width: 70%;

        &__element {
            text-align: center;
            padding-top: 25px;
            height: 100%;
            width: 65%;
        }
    }

    &__submit {
        margin-top: 50px;
        margin-left: 5%;
    }
}